{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Audio Uploader</title>
  </head>
  <body>
    <div id="root">
    </div>
      {% render_bundle 'main' %}
      {% load static from staticfiles %}
  </body>
</html>
